[submodule "frontend/proj/tools/sscs-chipathon-2026"]
	path = frontend/proj/tools/sscs-chipathon-2026
	url = https://github.com/sscs-ose/sscs-chipathon-2026.git
[submodule "frontend/proj/scripts/ai_assisted/drawio-skill"]
	path = frontend/proj/scripts/ai_assisted/drawio-skill
	url = https://github.com/Agents365-ai/drawio-skill.git
[submodule "frontend/proj/scripts/ai_assisted/skills/typst-skills"]
	path = frontend/proj/scripts/ai_assisted/skills/typst-skills
	url = https://github.com/apcamargo/typst-skills
[submodule "frontend/proj/scripts/ai_assisted/skills/drawio-skill"]
	path = frontend/proj/scripts/ai_assisted/skills/drawio-skill
	url = https://github.com/Agents365-ai/drawio-skill
