[submodule "work/scripts/ai_assisted/skills/typst-skills"]
	path = work/scripts/ai_assisted/skills/typst-skills
	url = https://github.com/apcamargo/typst-skills
[submodule "work/scripts/ai_assisted/skills/drawio-skill"]
	path = work/scripts/ai_assisted/skills/drawio-skill
	url = https://github.com/Agents365-ai/drawio-skill
[submodule "work/tools/librelane/sscs-chipathon-2026"]
	path = work/tools/librelane/sscs-chipathon-2026
	url = https://github.com/sscs-ose/sscs-chipathon-2026
