[submodule "frontend/proj/tools/sscs-chipathon-2026"]
	path = frontend/proj/tools/sscs-chipathon-2026
	url = https://github.com/sscs-ose/sscs-chipathon-2026.git
[submodule "frontend/proj/scripts/ai_assisted/skills/typst-skills"]
	path = frontend/proj/scripts/ai_assisted/skills/typst-skills
	url = https://github.com/apcamargo/typst-skills
[submodule "frontend/proj/scripts/ai_assisted/skills/drawio-skill"]
	path = frontend/proj/scripts/ai_assisted/skills/drawio-skill
	url = https://github.com/Agents365-ai/drawio-skill
[submodule "frontend/rtl/macros/globalfoundries-pdk-ip-gf180mcu_fd_ip_sram"]
	path = frontend/rtl/macros/globalfoundries-pdk-ip-gf180mcu_fd_ip_sram
	url = https://github.com/google/globalfoundries-pdk-ip-gf180mcu_fd_ip_sram.git
