layout {
    default_tab_template {
		children
		pane {
			size 1
			borderless true
			plugin location="zellij:compact-bar";
		}
	}

    tab name="Git" cwd="$PROJECT_ROOT_DIR" {
        pane size="70%" name="lazygit" {
            command "lazygit"
        }
        pane focus=true size="30%" name="review git" {
            edit ".gitignore" ".gitmodules"
        }
    }
    tab name="Docs" cwd="$PROJECT_ROOT_DIR/docs" {
        pane size="70%" name="code"
        pane size="30%" name="execute"
    }
    tab name="AI" cwd="$PROJECT_ROOT_DIR" {
        pane name="hermes" {
            command "hermes"
        }
    }
    tab focus=true name="Dev" {
        pane size="70%" split_direction="vertical" {
            pane size="50%" name="design" cwd="$RTL_DIR"
            pane size="50%" name="verif"  cwd="$SIM_DIR"
        }
        pane focus=true size="30%" name="execute" cwd="$PROJECT_ROOT_DIR" {
            command "zsh"
            args "-c" "mise tasks; exec zsh"
        }
    }
}

