@min_distance=4
#W
rst_n
clk
din\[7\]
din\[6\]
din\[5\]
din\[4\]
din\[3\]
din\[2\]
din\[1\]
din\[0\]
din_valid_i
#N
din_ready_o
dout\[7\]
dout\[6\]
dout\[5\]
dout\[4\]
dout\[3\]
dout\[2\]
dout\[1\]
dout\[0\]
dout_valid_o
$6
#E
#S
